<form method="post" action="/check">
	<input type="text" name="title" placeholder="Title">
	<!-- <input type="text" name="completed" placeholder="Breed">
	<input type="number" name="weight"> -->
	
	<input type="submit" value="Add ToDo">
</form>

<!-- //when click subbmit it makes a post request to /check -->